.Container{
    margin:0 auto;
    max-width: 90%;
    box-sizing:border-box;
    margin-top: 50px;
    width: 100%;
}
.Row0{
    margin-left: 5%;
    background-color:#4D5882;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;
    gap:340px;
    margin-left: 4px;
}
.Row0 div a{
    text-decoration: none;
    color: #FFFFFF;
}
.icons{
    align-items: end;
    margin-right: 10px;
    width:30px;
    height:30px;    
}
.Row1{
    padding-top: 9px;
    padding-bottom: 9px;
    background-color:#434F7B;
    text-align: center;
    color: #FFFFFF;
}
.Row3{
    background-color:#4D5882;
    color: #FFFFFF;
}