.NContainer{
    margin:0 auto;
    max-width: 90%;
    display: flex;
    box-sizing:border-box;
}
body {
    background-color: #F8F8FF;
    font-family: var(--font-family);
  }
.navbar{
    justify-content: space-between;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    color:black;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
}
.logo{
    width: 200px;
    height: auto;
}
.navdiv{
    gap: 20px;
    margin-left: 103%;
    display: flex;
    flex-direction: row;
}
.navdiv a {
    text-decoration: none; 
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
  .central{
    margin-top: -65px;
    margin-left: 560px;                                                                                                                            
  }
  .control{
    background-color:#f8f9fa !important;
    color:darkblue !important;
    margin-left: 360px;
    width: 30%;
    height:49px;
    line-height: 1.5px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 9px;
    padding:13px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  .control ::placeholder{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 5px;
  }
  .dbtn{
    margin-left: 12px;
    size: 67px;
    background-color: darkblue;
    border-radius: 10px ;
    border: 0 solid lightgray; 
    width: 120px; 
    height: 50px;
    color:#f8f9fa
  }
  .dbtn:hover{
    background-color: darkblue;
  }
  .div2{
   width: 50px;
   height: 50px;
   border-radius: 25px;
   margin-top: 15px;
   margin-left: 64px;
   justify-content: space-b tween;
  }
  .div2:hover{
    background-color: lightgrey;
    cursor:pointer;
  }
  .menubtn{
    width: 20px;
    height: 20px;
    margin-top: 17px;
  }
  .div3{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  .location{
    width: 25%;
    height: 25px;
    margin-left: 105px;
    color: darkblue;
    border: 0 solid lightgray;
    border-radius: 5px;
    outline: none;
  }
  .location:hover{
    background-color:gainsboro !important;
    cursor: pointer;
  }
  .para{
    margin-top: -35px;
    font-size: 12px;
    width: 50%;
    margin-right: -90px;
    margin-left: -210px;
    /* text-align: left; */
    color: darkgrey;
    font-weight: 300px;
    line-height: 0;
  }
  .Rslider{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    /* justify-content: center;
    align-items: center; */
   /* padding-bottom: 24%; */
  }
  .sectionMargin{
    margin-top: 112px;
  }
  .Sdiv{
    width:1100px;
    height:30px;
    justify-content: center;
    align-items: center;
  }
  .menu-link div {
    height: 1rem;
    display: flex;
    text-decoration: none;
    /* justify-content: space-around;
    align-items: center; */
  }
  .menu-link {
    grid-column: 3/4;
  }
  .hamburger-menu {
    display: none;
  }
  @media (max-width: 1080px)
   {
    .main-nav 
    {
      height: 8rem;
      grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
    .logo,
    .menu-link ul,
    .social-media ul {
      height: 8rem;
    }
  }
  @media (max-width: 998px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
    .menu-link {
      display: none;
    }
    .logo,
    .social-media ul
     {
      height: 7rem;
    }
    .mobile-menu-link {
      grid-column: 1/4;
      position: relative;
      z-index: 99;
      text-decoration: none;
    }
    .mobile-menu-link {
      background-color: white;
      height: 10rem;
      width: 200px;
      display: grid;
      grid-column: 1/5;
      border: 1 solid gainsboro;
      border-radius: 18px;
      align-items: center;
      /* padding-left: 3rem; */
      transition: all 2s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }
    .hamburger-menu {
      display: block;
      font-size: 2.5rem;
      display: flex;
      margin-left: 110px;
      margin-top: 33px;
    }
    .menu-link a {
      text-decoration: none; 
      color: black;
      font-size: 18px;
      font-weight: 600;
      margin-left: 7px;
    }
  }
  .section1{
    width:50%;
    display: flex;
  }
  @media (max-width: 798px) 
  {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
    .logo,
    .social-media ul {
      height: 6rem;
    }
   
   .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
    .logo,
    .social-media ul {
      height: 6rem;
    }
    .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }  