/* =====================commmon CSS Elements =======================*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #F0ffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
.pt {
  margin-top: 2rem;
}
.pb {
  margin-bottom: 2rem;
}

.main_heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align:left;
}



